In [54]:
import pandas as pd

In [55]:
data = pd.read_csv("meteorite-landings.csv")

In [56]:
type(data)

pandas.core.frame.DataFrame

In [57]:
data.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [58]:
# data = pd.DataFrame.from_dict(data)

In [59]:
# data.head()

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
name           45716 non-null object
id             45716 non-null int64
nametype       45716 non-null object
recclass       45716 non-null object
mass           45585 non-null float64
fall           45716 non-null object
year           45428 non-null float64
reclat         38401 non-null float64
reclong        38401 non-null float64
GeoLocation    38401 non-null object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [61]:
type(data.GeoLocation)

pandas.core.series.Series

In [62]:
data.GeoLocation

0           (50.775000, 6.083330)
1          (56.183330, 10.233330)
2        (54.216670, -113.000000)
3         (16.883330, -99.900000)
4        (-33.166670, -64.950000)
5          (32.100000, 71.800000)
6          (44.833330, 95.166670)
7           (44.216670, 0.616670)
8        (-31.600000, -65.233330)
9        (-30.866670, -64.550000)
10         (16.398060, -9.570280)
11          (19.083330, 8.383330)
12          (50.666670, 2.333330)
13         (29.516670, 35.050000)
14         (29.716670, 77.950000)
15           (8.916670, 8.433330)
16         (39.916670, 42.816670)
17         (24.416670, 39.516670)
18         (13.660330, 28.960000)
19          (44.116670, 4.083330)
20         (44.650000, 11.016670)
21          (2.000000, 22.666670)
22          (45.821330, 6.015330)
23         (51.783330, -1.783330)
24         (36.233330, 37.133330)
25          (44.883330, 8.750000)
26         (50.950000, 31.816670)
27         (45.266670, 10.150000)
28        (42.533330, -85.883330)
29       (26.966670, -105.316670)
                   ...
45686    (31.650000, -106.183330)
45687    (34.819700, -114.276100)
45688    (34.826580, -114.277630)
45689    (34.819230, -114.277350)
45690     (60.000000, 140.000000)
45691    (22.816670, -102.566670)
45692                         NaN
45693     (35.000000, -94.750000)
45694      (27.333330, -9.333330)
45695      (30.366670, -5.850000)
45696      (50.762780, 22.866110)
45697    (25.009440, -100.750000)
45698     (27.000000, -99.000000)
45699     (18.333330, -97.500000)
45700      (41.650000, -0.866670)
45701      (29.750000, -4.500000)
45702       (32.158330, 4.633330)
45703     (42.513330, -88.489440)
45704     (20.250000, -12.683330)
45705      (29.858610, -2.645000)
45706      (52.133330, 81.966670)
45707     (24.233330, 111.183330)
45708     (68.000000, 128.300000)
45709     (31.200000, 112.500000)
45710      (29.037000, 17.018500)
45711      (29.037000, 17.018500)
45712       (13.783330, 8.966670)
45713      (49.250000, 17.666670)
45714      (49.789170, 41.504600)
45715    (33.983330, -115.683330)
Name: GeoLocation, Length: 45716, dtype: object

In [63]:
# df['A.x'], df['A.y'] = zip(*df.A)

data['GeoLocation.longitude'], data['GeoLocation.latitude'] = zip(*data.GeoLocation)

TypeError: zip argument #148 must support iteration

In [53]:
# # Converting lists of tuples into 
# # pandas Dataframe. 
# df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age']) 

data2 = data['GeoLocation'](columns = ['long', 'lat'])

TypeError: 'Series' object is not callable

In [65]:
data.loc[147:150]

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
147,Bulls Run,5163,Valid,Iron?,2250.0,Fell,1964.0,NaN,NaN,NaN
148,Bunburra Rockhole,48653,Valid,Eucrite,324.0,Fell,2007.0,-31.35000,129.19000,"(-31.350000, 129.190000)"
149,Bununu,5165,Valid,Howardite,357.0,Fell,1942.0,10.01667,9.58333,"(10.016670, 9.583330)"
150,Bur-Gheluai,5169,Valid,H5,120000.0,Fell,1919.0,5.00000,48.00000,"(5.000000, 48.000000)"

In [18]:
import requests

from shapely.geometry import mapping, shape
from shapely.prepared import prep
from shapely.geometry import Point

In [19]:
data = requests.get("https://raw.githubusercontent.com/datasets/geo-countries/master/data/countries.geojson").json()

countries = {}
for feature in data["features"]:
    geom = feature["geometry"]
    country = feature["properties"]["ADMIN"]
    countries[country] = prep(shape(geom))

print(len(countries))

def get_country(lon, lat):
    point = Point(lon, lat)
    for country, geom in countries.items():
        if geom.contains(point):
            return country

    return "unknown"

print(get_country(10.0, 47.0))

255
Austria

In [20]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.reverse("52.509669, 13.376294")
print(location.address)
# Potsdamer Platz, Mitte, Berlin, 10117, Deutschland, European Union
print((location.latitude, location.longitude))
# (52.5094982, 13.3765983)
print(location.raw)
# {'place_id': '654513', 'osm_type': 'node', ...}

Potsdamer Platz, Tiergarten, Mitte, Berlin, 10785, Deutschland
(52.5098014, 13.3755897912911)
{'place_id': 198746248, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'relation', 'osm_id': 3200536, 'lat': '52.5098014', 'lon': '13.3755897912911', 'display_name': 'Potsdamer Platz, Tiergarten, Mitte, Berlin, 10785, Deutschland', 'address': {'attraction': 'Potsdamer Platz', 'footway': 'Potsdamer Platz', 'suburb': 'Tiergarten', 'city_district': 'Mitte', 'city': 'Berlin', 'postcode': '10785', 'country': 'Deutschland', 'country_code': 'de'}, 'boundingbox': ['52.5082999', '52.5100374', '13.3750548', '13.3769528']}

In [ ]:
data.country =