# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [37]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [38]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [39]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [40]:
print(next(iterator))

3

In [41]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [42]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [43]:
# iterator1 = iter([1,2,3])

def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    
    for i in iterator:
        if i%2 == 0:
            return(i) # a function finishes as soon as it finds the return value
    return(0) # otherwise you may get "None", function needs to return something

# you can return more than one value:
#     for i in iterator:
#         if i%2 == 0:
#             return i, True
#     return 0, False
    
outcome = divisible2(range(4,10))
#outcome = divisible2(range(3,11,2))
print(outcome)

4

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [44]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [45]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [46]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    
    number = 0
    while number < n:
        if number%2 == 0:
            yield number
        number += 1
            
iterator = even_iterator(5)

for i in iterator:
    print(i)
    
#print("x")

0
2
4

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [65]:
import pandas as pd

columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)
# reads csv file directly from url

Let's look at the dataset using the `head` function.

In [66]:
# Your code here:
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [67]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width       iris_type
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [68]:
# Your code here:
import numpy as np

np.mean(iris)

# the mean for each column is returned (+data type)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [69]:
# Your code here:

np.std(iris)

# standard deviation by column is returned

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

In [70]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
iris_type       150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

#iris.describe()

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [75]:
iris_numeric = iris[['sepal_length', 'sepal_width', 'petal_length','petal_width']]

print(type(iris_numeric))
print(iris_numeric)

<class 'pandas.core.frame.DataFrame'>
     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.5          0.1
10            5.4          3.7           1.5          0.2
11            4.8          3.4           1.6          0.2
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
14            5.8          4.0           1.2          0.2
15            5.7          4.4           1.5          0.4
16            5.4          3.9           1.3          0.4
17            5.1          3.5           1.4          0.3
18            5.7          3.8           1.7          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
..            ...          ...           ...          ...
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
137           6.4          3.1           5.5          1.8
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
142           5.8          2.7           5.1          1.9
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [76]:
# iris_numeric2 = [x for x in iris._get_numeric_data()]
# iris_numeric2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [77]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return 0.393701 * x

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [78]:
# Your code here:

iris_inch = cm_to_in(iris_numeric)
print(iris_inch)

     sepal_length  sepal_width  petal_length  petal_width
0        2.007875     1.377954      0.551181     0.078740
1        1.929135     1.181103      0.551181     0.078740
2        1.850395     1.259843      0.511811     0.078740
3        1.811025     1.220473      0.590552     0.078740
4        1.968505     1.417324      0.551181     0.078740
5        2.125985     1.535434      0.669292     0.157480
6        1.811025     1.338583      0.551181     0.118110
7        1.968505     1.338583      0.590552     0.078740
8        1.732284     1.141733      0.551181     0.078740
9        1.929135     1.220473      0.590552     0.039370
10       2.125985     1.456694      0.590552     0.078740
11       1.889765     1.338583      0.629922     0.078740
12       1.889765     1.181103      0.551181     0.039370
13       1.692914     1.181103      0.433071     0.039370
14       2.283466     1.574804      0.472441     0.078740
15       2.244096     1.732284      0.590552     0.157480
16       2.125985     1.535434      0.511811     0.157480
17       2.007875     1.377954      0.551181     0.118110
18       2.244096     1.496064      0.669292     0.118110
19       2.007875     1.496064      0.590552     0.118110
20       2.125985     1.338583      0.669292     0.078740
21       2.007875     1.456694      0.590552     0.157480
22       1.811025     1.417324      0.393701     0.078740
23       2.007875     1.299213      0.669292     0.196851
24       1.889765     1.338583      0.748032     0.078740
25       1.968505     1.181103      0.629922     0.078740
26       1.968505     1.338583      0.629922     0.157480
27       2.047245     1.377954      0.590552     0.078740
28       2.047245     1.338583      0.551181     0.078740
29       1.850395     1.259843      0.629922     0.078740
..            ...          ...           ...          ...
120      2.716537     1.259843      2.244096     0.905512
121      2.204726     1.102363      1.929135     0.787402
122      3.031498     1.102363      2.637797     0.787402
123      2.480316     1.062993      1.929135     0.708662
124      2.637797     1.299213      2.244096     0.826772
125      2.834647     1.259843      2.362206     0.708662
126      2.440946     1.102363      1.889765     0.708662
127      2.401576     1.181103      1.929135     0.708662
128      2.519686     1.102363      2.204726     0.826772
129      2.834647     1.181103      2.283466     0.629922
130      2.913387     1.102363      2.401576     0.748032
131      3.110238     1.496064      2.519686     0.787402
132      2.519686     1.102363      2.204726     0.866142
133      2.480316     1.102363      2.007875     0.590552
134      2.401576     1.023623      2.204726     0.551181
135      3.031498     1.181103      2.401576     0.905512
136      2.480316     1.338583      2.204726     0.944882
137      2.519686     1.220473      2.165355     0.708662
138      2.362206     1.181103      1.889765     0.708662
139      2.716537     1.220473      2.125985     0.826772
140      2.637797     1.220473      2.204726     0.944882
141      2.716537     1.220473      2.007875     0.905512
142      2.283466     1.062993      2.007875     0.748032
143      2.677167     1.259843      2.322836     0.905512
144      2.637797     1.299213      2.244096     0.984253
145      2.637797     1.181103      2.047245     0.905512
146      2.480316     0.984253      1.968505     0.748032
147      2.559057     1.181103      2.047245     0.787402
148      2.440946     1.338583      2.125985     0.905512
149      2.322836     1.181103      2.007875     0.708662

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [79]:
# Define constant below:
error = 2
print(type(iris_numeric))
def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    
    return x + error

iris_constant = add_constant(iris_numeric)
print(iris_constant)

<class 'pandas.core.frame.DataFrame'>
     sepal_length  sepal_width  petal_length  petal_width
0             7.1          5.5           3.4          2.2
1             6.9          5.0           3.4          2.2
2             6.7          5.2           3.3          2.2
3             6.6          5.1           3.5          2.2
4             7.0          5.6           3.4          2.2
5             7.4          5.9           3.7          2.4
6             6.6          5.4           3.4          2.3
7             7.0          5.4           3.5          2.2
8             6.4          4.9           3.4          2.2
9             6.9          5.1           3.5          2.1
10            7.4          5.7           3.5          2.2
11            6.8          5.4           3.6          2.2
12            6.8          5.0           3.4          2.1
13            6.3          5.0           3.1          2.1
14            7.8          6.0           3.2          2.2
15            7.7          6.4           3.5          2.4
16            7.4          5.9           3.3          2.4
17            7.1          5.5           3.4          2.3
18            7.7          5.8           3.7          2.3
19            7.1          5.8           3.5          2.3
20            7.4          5.4           3.7          2.2
21            7.1          5.7           3.5          2.4
22            6.6          5.6           3.0          2.2
23            7.1          5.3           3.7          2.5
24            6.8          5.4           3.9          2.2
25            7.0          5.0           3.6          2.2
26            7.0          5.4           3.6          2.4
27            7.2          5.5           3.5          2.2
28            7.2          5.4           3.4          2.2
29            6.7          5.2           3.6          2.2
..            ...          ...           ...          ...
120           8.9          5.2           7.7          4.3
121           7.6          4.8           6.9          4.0
122           9.7          4.8           8.7          4.0
123           8.3          4.7           6.9          3.8
124           8.7          5.3           7.7          4.1
125           9.2          5.2           8.0          3.8
126           8.2          4.8           6.8          3.8
127           8.1          5.0           6.9          3.8
128           8.4          4.8           7.6          4.1
129           9.2          5.0           7.8          3.6
130           9.4          4.8           8.1          3.9
131           9.9          5.8           8.4          4.0
132           8.4          4.8           7.6          4.2
133           8.3          4.8           7.1          3.5
134           8.1          4.6           7.6          3.4
135           9.7          5.0           8.1          4.3
136           8.3          5.4           7.6          4.4
137           8.4          5.1           7.5          3.8
138           8.0          5.0           6.8          3.8
139           8.9          5.1           7.4          4.1
140           8.7          5.1           7.6          4.4
141           8.9          5.1           7.1          4.3
142           7.8          4.7           7.1          3.9
143           8.8          5.2           7.9          4.3
144           8.7          5.3           7.7          4.5
145           8.7          5.0           7.2          4.3
146           8.3          4.5           7.0          3.9
147           8.5          5.0           7.2          4.0
148           8.2          5.4           7.4          4.3
149           7.9          5.0           7.1          3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [80]:
# Your code here:

iris_numeric.apply(max, axis=1)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [81]:
# Your code here:

def width(a):
    return a['sepal_width'] + a['petal_width']

def length(a):
    return a['sepal_length'] + a['petal_length']

iris_numeric['total_width'] = iris_numeric.apply(width, axis=1)
iris_numeric['total_length'] = iris_numeric.apply(length, axis=1)

print(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width  total_width  \
0             5.1          3.5           1.4          0.2          3.7
1             4.9          3.0           1.4          0.2          3.2
2             4.7          3.2           1.3          0.2          3.4
3             4.6          3.1           1.5          0.2          3.3
4             5.0          3.6           1.4          0.2          3.8
5             5.4          3.9           1.7          0.4          4.3
6             4.6          3.4           1.4          0.3          3.7
7             5.0          3.4           1.5          0.2          3.6
8             4.4          2.9           1.4          0.2          3.1
9             4.9          3.1           1.5          0.1          3.2
10            5.4          3.7           1.5          0.2          3.9
11            4.8          3.4           1.6          0.2          3.6
12            4.8          3.0           1.4          0.1          3.1
13            4.3          3.0           1.1          0.1          3.1
14            5.8          4.0           1.2          0.2          4.2
15            5.7          4.4           1.5          0.4          4.8
16            5.4          3.9           1.3          0.4          4.3
17            5.1          3.5           1.4          0.3          3.8
18            5.7          3.8           1.7          0.3          4.1
19            5.1          3.8           1.5          0.3          4.1
20            5.4          3.4           1.7          0.2          3.6
21            5.1          3.7           1.5          0.4          4.1
22            4.6          3.6           1.0          0.2          3.8
23            5.1          3.3           1.7          0.5          3.8
24            4.8          3.4           1.9          0.2          3.6
25            5.0          3.0           1.6          0.2          3.2
26            5.0          3.4           1.6          0.4          3.8
27            5.2          3.5           1.5          0.2          3.7
28            5.2          3.4           1.4          0.2          3.6
29            4.7          3.2           1.6          0.2          3.4
..            ...          ...           ...          ...          ...
120           6.9          3.2           5.7          2.3          5.5
121           5.6          2.8           4.9          2.0          4.8
122           7.7          2.8           6.7          2.0          4.8
123           6.3          2.7           4.9          1.8          4.5
124           6.7          3.3           5.7          2.1          5.4
125           7.2          3.2           6.0          1.8          5.0
126           6.2          2.8           4.8          1.8          4.6
127           6.1          3.0           4.9          1.8          4.8
128           6.4          2.8           5.6          2.1          4.9
129           7.2          3.0           5.8          1.6          4.6
130           7.4          2.8           6.1          1.9          4.7
131           7.9          3.8           6.4          2.0          5.8
132           6.4          2.8           5.6          2.2          5.0
133           6.3          2.8           5.1          1.5          4.3
134           6.1          2.6           5.6          1.4          4.0
135           7.7          3.0           6.1          2.3          5.3
136           6.3          3.4           5.6          2.4          5.8
137           6.4          3.1           5.5          1.8          4.9
138           6.0          3.0           4.8          1.8          4.8
139           6.9          3.1           5.4          2.1          5.2
140           6.7          3.1           5.6          2.4          5.5
141           6.9          3.1           5.1          2.3          5.4
142           5.8          2.7           5.1          1.9          4.6
143           6.8          3.2           5.9          2.3          5.5
144           6.7          3.3           5.7          2.5          5.8
145           6.7          3.0           5.2          2.3          5.3
146           6.3          2.5           5.0          1.9          4.4
147           6.5          3.0           5.2          2.0          5.0
148           6.2          3.4           5.4          2.3          5.7
149           5.9          3.0           5.1          1.8          4.8

     total_length
0             6.5
1             6.3
2             6.0
3             6.1
4             6.4
5             7.1
6             6.0
7             6.5
8             5.8
9             6.4
10            6.9
11            6.4
12            6.2
13            5.4
14            7.0
15            7.2
16            6.7
17            6.5
18            7.4
19            6.6
20            7.1
21            6.6
22            5.6
23            6.8
24            6.7
25            6.6
26            6.6
27            6.7
28            6.6
29            6.3
..            ...
120          12.6
121          10.5
122          14.4
123          11.2
124          12.4
125          13.2
126          11.0
127          11.0
128          12.0
129          13.0
130          13.5
131          14.3
132          12.0
133          11.4
134          11.7
135          13.8
136          11.9
137          11.9
138          10.8
139          12.3
140          12.3
141          12.0
142          10.9
143          12.7
144          12.4
145          11.9
146          11.3
147          11.7
148          11.6
149          11.0

[150 rows x 6 columns]